.face-container {
	display: block;
	width: 300px;
	margin: auto;
	border: 3px solid #ffcc00;
	text-align: center;
	border-radius: 100px;
}
.face {
	width: 250px;
	height: 300px;
	display: inline;
}
.container {
		display: block;
	width: 300px;
	margin: auto;
	border: 3px solid #1b2afa;
	text-align: center;
	border-radius: 100px;
}